:root{
	/* 主题色 */
	--be-color-white: #ffffff;
	--be-color-black: #000000;
	--be-color-primary: #409eff; /*rgb(64, 158, 255)*/
	--be-color-primary-light-1: rgba(64, 158, 255, 0.1);
	--be-color-primary-light-2: rgba(64, 158, 255, 0.2);
	--be-color-primary-light-3: rgba(64, 158, 255,0.3);
	--be-color-primary-light-4: rgba(64, 158, 255,0.4);
	--be-color-primary-light-5: rgba(64, 158, 255,0.5);
	--be-color-primary-light-6: rgba(64, 158, 255,0.6);
	--be-color-primary-light-7: rgba(64, 158, 255,0.7);
	--be-color-primary-light-8: rgba(64, 158, 255,0.8);
	--be-color-primary-light-9: rgba(64, 158, 255,0.9);
	--be-color-success: #67c23a; /*rgb(103, 194, 58)*/
	--be-color-warning: #e6a23c; /*rgb(230, 162, 60)*/
	--be-color-danger: #f56c6c; /*rgb(245, 108, 108)*/
	--be-color-info: #909399; /*rgb(144, 147, 153)*/

	--be-color-success-light: rgba(103, 194, 58, 0.8);
	--be-color-warning-light: rgba(230, 162, 60, 0.8);
	--be-color-danger-light: rgba(245, 108, 108, 0.8);
	--be-color-info-light: rgba(144, 147, 153, 0.8);

	--be-color-success-lighter: rgba(103, 194, 58, 0.9);
	--be-color-warning-lighter: rgba(230, 162, 60, 0.9);
	--be-color-danger-lighter: rgba(245, 108, 108, 0.9);
	--be-color-info-lighter: rgba(144, 147, 153, 0.9);

	--be-color-text-primary: #303133;
	--be-color-text-regular: #606266;
	--be-color-text-secondary: #909399;
	--be-color-text-placeholder: #c0c4cc;

	--be-border-color-base: #DCDFE6;
	--be-border-color-light: #E4E7ED;
	--be-border-color-lighter: #EBEEF5;
	--be-border-color-extra-light: #F2F6FC;

	/* Background */
	--be-bg-color-base: #F5F7FA;

	/* Link */
	--be-link-color: var(--be-color-primary-light-2);
	--be-link-hover-color: var(--be-color-primary);

	/* Border */
	--be-border-width-base: 1px;
	--be-border-style-base: solid;
	--be-border-color-hover: var(--be-color-text-placeholder);
	--be-border-base: var(--be-border-width-base) var(--be-border-style-base) var(--be-border-color-base);
	--be-border-radius-circle: 100%;
	--be-border-radius-zero: 0;

	/* Box-shadow */
	--be-box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
	--be-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
	--be-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

	/* Fill */
	--be-fill-base: var(--be-color-white);

	/* Typography 字体 */
	--be-font-path: 'fonts';
	--be-font-display: 'auto';
	--be-font-size-extra-large: 20px;
	--be-font-size-large: 18px;
	--be-font-size-medium: 16px;
	--be-font-size-base: 14px;
	--be-font-size-small: 13px;
	--be-font-size-extra-small: 12px;
	--be-font-weight-primary: 500;
	--be-font-weight-secondary: 100;
	--be-font-line-height-primary: 24px;
	--be-font-line-height-secondary: 16px;
	--be-font-color-disabled-base: #bbb;

	/* size */
	--be-size-base: 14px;

	/* z-index */
	--be-index-normal: 1;
	--be-index-top: 1000;
	--be-index-popper: 2000;

	/* Disable base*/
	--be-disabled-fill-base: var(--be-bg-color-base);
	--be-disabled-color-base: var(--be-color-text-placeholder);
	--be-disabled-border-base: var(--be-border-color-light);

	/* Scrollbar */
	--be-scrollbar-bg-color: var(--be-color-text-secondary);
	--be-scrollbar-hover-bg-color: rgba(var(--be-color-text-secondary), 0.5);

	/* Header */
	--be-header-padding: 0 20px;

	/* Footer */
	--be-footer-padding: 0 20px;

	/* Main */
	--be-main-padding: 20px;

	/* Break-point */
	--be-sm: 768px;
	--be-md: 992px;
	--be-lg: 1200px;
	--be-xl: 1920px;
}

