@import '../var.css';

.be-date-picker {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.be-date-picker--tab {
	width: 600px;
}
.be-date-picker--tab .be-date-picker__radio {
	width: auto;
}
.be-date-picker--tab .el-radio-group .el-radio-button > .el-radio-button__inner {
	width: 80px;
	padding: 8px 0;
}

.be-date-picker--border {
	width: 622px;
}
.be-date-picker--border .be-date-picker__radio {
	width: 260px;
}
.be-date-picker--border .el-radio-group {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.be-date-picker--border .el-radio-group .el-radio-button > .el-radio-button__inner {
	width: 80px;
	border-left: 1px solid var(--be-border-color-base);
	border-radius: 4px !important;
	padding: 8px 0;
}
.be-date-picker--border .el-radio-group .is-active > .el-radio-button__inner {
	border-left-color: var(--be-color-primary);
}

.be-date-picker--no-radio-short-cut .be-date-picker--picker,
.be-date-picker--no-radio-short-cut .be-date-picker--picker > .be-date-picker--picker_date {
	width: auto;
}

.be-date-picker--picker {
	width: 350px;
}
.be-date-picker--picker > .be-date-picker--picker_date {
	width: 100%;
	height: 32px;
}

.be-date-picker--picker.el-date-editor .el-range__icon,
.be-date-picker--picker.el-date-editor .el-range-separator,
.be-date-picker--picker.el-date-editor .el-range__close-icon {
  line-height: 24px;
}
