.be-dialog {
	--dialog-border-color:#e8eaec;
}
.be-dialog .el-dialog {
   border-radius: var(--border-radius-base);
}
.be-dialog .el-dialog__body {
   padding-top: 16px;
   padding-bottom: 16px;
}


.be-dialog .el-dialog__header {
   border-bottom: var(--border-base);
	border-bottom-color: var(--dialog-border-color);
   background-color: #f7f7f7;
   border-radius: inherit;
}

.be-dialog .el-dialog__footer {
   padding-bottom: 10px;
   border-top: var(--border-base);
	border-top-color: var(--dialog-border-color);
}

.be-dialog .el-dialog__headerbtn .el-dialog__close {
   font-size: var(--font-size-medium);
}