@import "../var.css";

.be-password-view {
   display: inline-flex;
   align-items: center;
}

.be-password-view__label{
  display: inline-block;
  height: 1em;
  line-height: 1;
}

.be-password-view__content{
  display: inline-block;
  height: 1em;
}