@import "../var.css";

.be-status-text--primary {
	color: var(--be-color-primary);
}
.be-status-text--success {
	color: var(--be-color-success);
}
.be-status-text--warning {
	color: var(--be-color-warning);
}
.be-status-text--danger {
	color: var(--be-color-danger);
}
.be-status-text--info {
	color: var(--be-color-info);
}